* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  background: #675c7c;
}

button {
  border: 0;
  border-radius: 8px;
  padding: 20px 36px;
  background: #535353;
  color: #f9f9f9;
  cursor: pointer;
}

/* Keyframe section */

@keyframes background-in {

  0% {
    scale: 0 0.005;
  }

  33% {
    scale: 1 0.005;
  }

  66%, 100% {
    scale: 1 1;
  }

}

@keyframes modal-in {
  0%, 66% {
    opacity: 0;
    visibility: hidden;
    translate: -50% -30%;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }

}

.modal-backgroud {
  position: fixed;
  top: 0;
  left: 0;
  transform: scale(1, 1);
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background: rgba(0,0,0,.5);
  transition: .5s;
}

body.open .modal-background {
  opacity: 1;
  visibility: visible;
  animation: background-in 1s both;
}